.icon-selector-content {
    max-height: 300px;
    min-width: 300px;
    overflow: auto;
}

.icon-selector {
    .btn {
        width: 56px;
        height: 40px;
        color: var(--color-grey09);

        &:hover {
            background-color: var(--color-grey01);
            color: var(--color-primary02);
        }

        &.selected {
            background-color: var(--color-primary01);
            color: var(--color-primary02);
        }
    }
}
