/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 2.5rem;//30px;
  height: 1.5rem//17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c0c4c7;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;//13px;
  width: 1.25rem;//13px;
  left: .125rem;//2px;
  bottom: .125rem;//2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-primary02);
}

input:checked + .slider:before {
  transform: translateX(1rem);//13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 1rem;//17px;
}

.slider.round:before {
  border-radius: 50%;
}