.color-picker-container .color-picker-display .color-picker {
    display: inline-block;
    cursor: pointer;
    width: 56px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-primary01);
}

.cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.color-picker-popover {
    position: absolute;
    z-index: 2;
}