/**
 * Colors used in project
 */

:root {
    // Primary Palette
    --color-primary01: #D7E7F3;
    --color-primary02: #21579C;
    --color-primary03: #1C4982;
    --color-primary04: #003A70;

    // Greys palette
    --color-grey00: #FFFFFF;
    --color-grey01: #F7F9FB;
    --color-grey02: #FBFAFF;
    --color-grey03: #F0F2F5;
    --color-grey04: #e0dde7;
    --color-grey05: #d3d0da;
    --color-grey06: #c7c5cc;
    --color-grey07: #BBB9BF;
    --color-grey08: #888E95;
    --color-grey09: #6D7278;
    --color-grey10: #000000;

    // Success
    --color-success: #41ba04;

    // Errors
    --color-error: #DC2B26;

    // Warnings
    --color-warning: #E98C87;
}
