/**
 * Grid sizes used in project
 */

:root {
    --grid-xxs: 4px;
    --grid-xs: 8px;
    --grid-s: 12px;
    --grid-m: 16px;
    --grid-l: 24px;
    --grid-xl: 32px;
    --grid-xxl: 40px;
    --grid-xxxl: 64px;
}


// Reset margins
.m-none {  margin: 0; }
.mt-none {  margin-top: 0; }
.mr-none {  margin-right: 0; }
.mb-none {  margin-bottom: 0; }
.ml-none {  margin-left: 0; }
.mx-none {  margin-left: 0; margin-right: 0; }
.mx-auto {  margin-left: auto; margin-right: auto; }
.my-none {  margin-top: 0; margin-bottom: 0;}

// Reset paddings
.p-none { padding: 0; }
.pt-none { padding-top: 0; }
.pr-none { padding-right: 0; }
.pb-none { padding-bottom: 0; }
.pl-none{ padding-left: 0; }
.px-none{ padding-left: 0; padding-right: 0; }
.py-none{ padding-top: 0; padding-bottom: 0; }

// Generate all margins & paddings
@include grid-utility('xxs',    var(--grid-xxs));
@include grid-utility('xs',     var(--grid-xs));
@include grid-utility('s',      var(--grid-s));
@include grid-utility('m',      var(--grid-m));
@include grid-utility('l',      var(--grid-l));
@include grid-utility('xl',     var(--grid-xl));
@include grid-utility('xxl',    var(--grid-xxl));
@include grid-utility('xxxl',   var(--grid-xxxl));



.block { display: block; }
.inline { display: inline-block; }
.grid { display: grid; }

.relative { position: relative; }
.absolute { position: absolute; }
.fixed { position: fixed; }
.sticky { position: sticky; }

.w-100 { width: 100%; }
.w-66 { width: 66%; }
.w-50 { width: 50%; }
.w-33 { width: 33%; }
.w-25 { width: 25%; }
.w-10 { width: 10%; }
.h-100 { height: 100%; }
.h-50 { height: 50%; }


// Flexbox
.flex
{
  $root: ".flex";
  display: flex;

  //  Alignement
  &#{$root}-start
  {
    justify-content: flex-start;
  }

  &#{$root}-center
  {
    justify-content: center;
  }

  &#{$root}-end
  {
    justify-content: flex-end;
  }

  &#{$root}-top
  {
    align-items: flex-start;
    box-pack: start;
  }

  &#{$root}-middle
  {
    align-items: center;
    box-pack: center;
  }
  &#{$root}-bottom
  {
    align-items: flex-end;
    box-pack: end;
  }
  &#{$root}-baseline
  {
    align-items: baseline;
  }

  //  Distribution
  &#{$root}-around
  {
    justify-content: space-around;
  }

  &#{$root}-between
  {
    justify-content: space-between;
  }

  //  Wrapping
  &#{$root}-wrap
  {
    flex-wrap: wrap;
  }

  &#{$root}-nowrap
  {
    flex-wrap: nowrap;
  }

  //  Direction
  &#{$root}-row
  {
    flex-direction: row;
  }

  &#{$root}-column
  {
    flex-direction: column;
  }
}