/**
 * Fonts used in project
 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

:root {
    /**
     *  Font weights
     *
     *  Example :
     *  font-weight: var(--f-regular);
     */
    --f-light:      300;
    --f-regular:    400;
    --f-medium:     500;
    --f-semibold:   600;
    --f-bold:       700;


    /**
     *  Font sizes
     *
     *  Example :
     *  font-size: var(--f-m);
     */
    --f-xxs:   10px;
    --f-xs:    12px;
    --f-s:     14px;
    --f-m:     16px;
    --f-l:     18px;
    --f-xl:    20px;
    --f-xxl:   24px;
}


.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}




/**
 *  texts styles
 */
@mixin commonTypographyOptions() {
    margin-top: 0;
    margin-bottom: 0;
}

h1,
.h1 {
    font-size: var(--f-xxl);
    line-height: 1.33;
    font-weight: var(--f-medium);
    color: var(--color-primary02);

    @include commonTypographyOptions();
    
    @include media-down('lg') {
        font-size: var(--f-l);
        line-height: 1.75;
    }
}
h2,
.h2 {
    font-size: var(--f-m);
    line-height: var(--f-xxl);
    font-weight: var(--f-bold);
    color: var(--color-primary02);

    @include commonTypographyOptions();

    @include media-down('lg') {
        font-size: var(--f-l);
    }
}
h3,
.h3 {
    font-size: var(--f-s);
    line-height: var(--f-l);
    font-weight: var(--f-semibold);
    color: var(--color-primary02);

    @include commonTypographyOptions();
}
h4,
.h4 {
    font-size: var(--f-xs);
    line-height: var(--f-s);
    font-weight: var(--f-semibold);
    color: var(--color-primary02);

    @include commonTypographyOptions();
}
h5,
.h5 {
    font-size: var(--f-xxs);
    line-height: var(--f-xs);
    text-transform: uppercase;
    font-weight: var(--f-semibold);
    color: var(--color-primary02);

    @include commonTypographyOptions();
}
p,
.paragraph {
    font-size: var(--f-s);
    line-height: var(--f-l);
    font-weight: var(--f-regular);
    color: var(--color-grey09);

    @include commonTypographyOptions();

    b, strong {
        font-weight: var(--f-medium);
    }

    small {
        font-size: var(--f-xs);
        line-height: var(--f-m);
    }
}
p.error {
    font-size: var(--f-xs);
    line-height: var(--f-l);
    font-weight: var(--f-semibold);
    color: var(--color-error);

    @include commonTypographyOptions();
}
p.warning {
    font-size: var(--f-xs);
    line-height: var(--f-l);
    font-weight: var(--f-semibold);
    color: var(--color-warning);

    @include commonTypographyOptions();
}