.trunks-dropdown {
  position: relative;
  display: inline-block;

  .button {
    text-align: start;

    &:hover {
      background-color: #ddd;
    }
  }

  &-content {
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: var(--f-s);
    width: max-content;
    border-radius: 4px;
    overflow: hidden;

    :not(:first-child) {
      border-top: #ccc 1px solid;
    }
  }
}
