.advancedsearch {
    background-color: var(--color-grey01);
    border-radius: 8px;

    padding: var(--grid-s) var(--grid-s) 0 var(--grid-s);
    
    margin-top: var(--grid-m);
    margin-bottom: var(--grid-m);
}

.button-export-xls,
.button-import-xls {
    color: white;
    background-color: #33bd70 !important;
    position: relative;

    .xls-button-loader {
        position: absolute;
        top: 4px;
        left: 4px;
    }

    &:disabled {
        color: white !important;
        background-color: #7ad8a2 !important;
    }
}
