.modal-backdrop.show { 
    opacity: 1;
    background: rgba(var(--color-primary02) , 1);
    
    // TODO: check latence after chrome update
    // backdrop-filter: blur(5px);
    
    &:before {
        content: '';
        position: absolute;
        background: var(--color-primary02);
        opacity: .25;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.modal {
    overflow-x: hidden;
    overflow-y: auto !important;

    width: 100%;
    max-width: 100vw;

    .modal-dialog,
    .modal-content {
        max-width: calc(100vw - 2rem) !important;
        width: 580px;
    }

    /* Specific for advanced search modal */
    &#modalAdvancedSearch {
        .modal-dialog,
        .modal-content,
        .modal-body {
            width: 800px;
        }
    }
}

.modal-content {
    border: 0 !important;
    background: var(--color-grey00);
    box-shadow: 0 0 34px 0 rgba(69,81,235,0.10);
    border-radius: 8px;

    .modal-header {
        width: 100%;
        padding: var(--grid-m);
        border-bottom: 1px solid var(--color-primary01);

        &.text-center {
            display: flex;
            justify-content: center;
        }
    }
    .modal-body {
        padding: 0;
    }
    .modal-container {
        width: 100%;
        padding: var(--grid-xs) var(--grid-m);

        &.p-none {
            padding: 0;
        }
    }
    .modal-section {
        border-top: 1px solid var(--color-primary01);
        padding: var(--grid-xs) var(--grid-m);
        margin-top: var(--grid-xs);

        &:first-of-type {
            border-top: 0;
        }
    }
    .modal-footer {
        width: 100%;
        padding: var(--grid-xs) var(--grid-m);
        border-top: 1px solid var(--color-primary01);
    }
}

#modalConfirm {
    .modal-dialog {
        padding: 0 !important;
    }
    .modal-container {
        text-align: center;
        padding: var(--grid-m) var(--grid-m);

        p {
            font-weight: var(--f-semibold);
        }

        .time-label {
            font-size: var(--f-xs);
            line-height: var(--f-s);
            font-weight: var(--f-medium);
            color: var(--color-grey08);
        }
        .time-content {
            font-size: var(--f-s);
            line-height: var(--f-l);
            font-weight: var(--f-semibold);
            color: var(--color-primary02);
            
            padding-top: var(--grid-xxs);
        }
        .time-old {
            opacity: .7;
        }
    }
}
