.loading-wrapper {
  position: relative;

  .loading-container {
    z-index: 9999;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary02);

    &-backdrop {
      z-index: 9999;
      opacity: .5;
      background-color: var(--color-grey01);
    }
  }
}